<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TComponentDataMapper">
    
    <resultMap type="TComponentData" id="TComponentDataResult">
        <result property="uid"    column="uid"    />
        <result property="componentType"    column="component_type"    />
        <result property="componentVersion"    column="component_name"    />
        <result property="wareType"    column="ware_type"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createByUid"    column="create_by_uid"    />
        <result property="updateByUid"    column="update_by_uid"    />
        <result property="componentName"    column="ware_vertion"    />
    </resultMap>

    <sql id="selectTComponentDataVo">
        select uid, component_type, component_name, ware_type, create_time, update_time, create_by_uid, update_by_uid, ware_vertion from t_component_data
    </sql>

    <select id="selectTComponentDataList" parameterType="TComponentData" resultMap="TComponentDataResult">
        <include refid="selectTComponentDataVo"/>
        <where>
            <if test="uid != null  and uid != ''"> and uid = #{uid}</if>
            <if test="componentType != null  and componentType != ''"> and component_type = #{componentType}</if>
            <if test="componentVersion != null  and componentVersion != ''"> and component_name like concat('%', #{componentVersion}, '%')</if>
            <if test="wareType != null  and wareType != ''"> and ware_type = #{wareType}</if>
            <if test="createByUid != null  and createByUid != ''"> and create_by_uid = #{createByUid}</if>
            <if test="updateByUid != null  and updateByUid != ''"> and update_by_uid = #{updateByUid}</if>
            <if test="componentName != null  and componentName != ''"> and ware_vertion = #{componentName}</if>
        </where>
    </select>

    <select id="selectTComponentDataByUid" parameterType="String" resultMap="TComponentDataResult">
        <include refid="selectTComponentDataVo"/>
        where uid = #{uid}
    </select>

    <insert id="insertTComponentData" parameterType="TComponentData">
        insert into t_component_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null and uid != ''">uid,</if>
            <if test="componentType != null and componentType != ''">component_type,</if>
            <if test="componentVersion != null">component_name,</if>
            <if test="wareType != null and wareType != ''">ware_type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createByUid != null">create_by_uid,</if>
            <if test="updateByUid != null">update_by_uid,</if>
            <if test="componentName != null and componentName != ''">ware_vertion,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null and uid != ''">#{uid},</if>
            <if test="componentType != null and componentType != ''">#{componentType},</if>
            <if test="componentVersion != null">#{componentVersion},</if>
            <if test="wareType != null and wareType != ''">#{wareType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createByUid != null">#{createByUid},</if>
            <if test="updateByUid != null">#{updateByUid},</if>
            <if test="componentName != null and componentName != ''">#{componentName},</if>
         </trim>
    </insert>

    <update id="updateTComponentData" parameterType="TComponentData">
        update t_component_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="uid != null and uid != ''">uid = #{uid},</if>
            <if test="componentType != null and componentType != ''">component_type = #{componentType},</if>
            <if test="componentVersion != null">component_name = #{componentVersion},</if>
            <if test="wareType != null and wareType != ''">ware_type = #{wareType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createByUid != null">create_by_uid = #{createByUid},</if>
            <if test="updateByUid != null">update_by_uid = #{updateByUid},</if>
            <if test="componentName != null and componentName != ''">ware_vertion = #{componentName},</if>
        </trim>
        where uid = #{uid}
    </update>

    <delete id="deleteTComponentDataByUid" parameterType="String">
        delete from t_component_data where uid = #{uid}
    </delete>

    <delete id="deleteTComponentDataByUids" parameterType="String">
        delete from t_component_data where uid in
        <foreach item="uid" collection="array" open="(" separator="," close=")">
            #{uid}
        </foreach>
    </delete>
</mapper>