<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TDesktopRecordMapper">
    
    <resultMap type="TDesktopRecord" id="TDesktopRecordResult">
        <result property="uid"    column="uid"    />
        <result property="localhostUserId"    column="localhost_user_id"    />
<!--        <result property="operUserId"    column="oper_user_id"    />-->
        <result property="dataUid"    column="data_uid"    />
<!--        <result property="dataType"    column="data_type"    />-->
        <result property="operationType"    column="operation_type"    />
        <result property="operTime"    column="oper_time"    />
        <result property="status"    column="status"    />
        <result property="operIp"    column="oper_ip"    />
        <result property="operLocation"    column="oper_location"    />
        <result property="errorMsg"    column="error_msg"    />
        <result property="functionGroupType"    column="function_group_type"    />
        <result property="taskType"    column="task_type"    />
        <result property="mileacge"    column="mileacge"    />
        <result property="testHour"    column="test_hour"    />
        <result property="location"    column="location"    />
        <result property="systemReset"    column="system_reset"    />
        <result property="naviReset"    column="navi_reset"    />
        <result property="blackMap"    column="black_map"    />
        <result property="initializingOccurred"    column="initializing_occurred"    />
        <result property="fallBackScreen"    column="fall_back_screen"    />
        <result property="bussleep"    column="bussleep"    />
        <result property="plannedTicket"    column="planned_ticket"    />
        <result property="comment"    column="comment"    />
        <result property="operationType"    column="operation_type"    />
    </resultMap>

    <sql id="selectTDesktopRecordVo">
        select uid, localhost_user_id, oper_user_id, data_uid, data_type, operation_type, oper_time, status, oper_ip, oper_location, error_msg, functionGroupType, taskType, mileacge, testHour, location, systemReset, naviReset, blackMap, initializingOccurred, fallBackScreen, bussleep, plannedTicket, comment, operationType from t_desktop_record
    </sql>

    <select id="selectTDesktopRecordList" parameterType="TDesktopRecord" resultMap="TDesktopRecordResult">
        <include refid="selectTDesktopRecordVo"/>
        <where>  
            <if test="localhostUserId != null  and localhostUserId != ''"> and localhost_user_id = #{localhostUserId}</if>
            <if test="operUserId != null  and operUserId != ''"> and oper_user_id = #{operUserId}</if>
            <if test="dataUid != null  and dataUid != ''"> and data_uid = #{dataUid}</if>
            <if test="dataType != null  and dataType != ''"> and data_type = #{dataType}</if>
            <if test="operationType != null  and operationType != ''"> and operation_type = #{operationType}</if>
            <if test="operTime != null "> and oper_time = #{operTime}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="operIp != null  and operIp != ''"> and oper_ip = #{operIp}</if>
            <if test="operLocation != null  and operLocation != ''"> and oper_location = #{operLocation}</if>
            <if test="errorMsg != null  and errorMsg != ''"> and error_msg = #{errorMsg}</if>
            <if test="functiongrouptype != null  and functiongrouptype != ''"> and functionGroupType = #{functiongrouptype}</if>
            <if test="tasktype != null  and tasktype != ''"> and taskType = #{tasktype}</if>
            <if test="mileacge != null  and mileacge != ''"> and mileacge = #{mileacge}</if>
            <if test="testhour != null  and testhour != ''"> and testHour = #{testhour}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="systemreset != null  and systemreset != ''"> and systemReset = #{systemreset}</if>
            <if test="navireset != null  and navireset != ''"> and naviReset = #{navireset}</if>
            <if test="blackmap != null  and blackmap != ''"> and blackMap = #{blackmap}</if>
            <if test="initializingoccurred != null  and initializingoccurred != ''"> and initializingOccurred = #{initializingoccurred}</if>
            <if test="fallbackscreen != null  and fallbackscreen != ''"> and fallBackScreen = #{fallbackscreen}</if>
            <if test="bussleep != null  and bussleep != ''"> and bussleep = #{bussleep}</if>
            <if test="plannedticket != null  and plannedticket != ''"> and plannedTicket = #{plannedticket}</if>
            <if test="comment != null  and comment != ''"> and comment = #{comment}</if>
            <if test="operationtype != null  and operationtype != ''"> and operationType = #{operationtype}</if>
        </where>
    </select>
    
    <select id="selectTDesktopRecordByUid" parameterType="Long" resultMap="TDesktopRecordResult">
        <include refid="selectTDesktopRecordVo"/>
        where uid = #{uid}
    </select>
        
    <insert id="insertTDesktopRecord" parameterType="TDesktopRecord" useGeneratedKeys="true" keyProperty="uid">
        insert into t_desktop_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="localhostUserId != null">localhost_user_id,</if>
            <if test="operUserId != null">oper_user_id,</if>
            <if test="dataUid != null">data_uid,</if>
            <if test="dataType != null">data_type,</if>
            <if test="operationType != null">operation_type,</if>
            <if test="operTime != null">oper_time,</if>
            <if test="status != null">status,</if>
            <if test="operIp != null">oper_ip,</if>
            <if test="operLocation != null">oper_location,</if>
            <if test="errorMsg != null">error_msg,</if>
            <if test="functiongrouptype != null">functionGroupType,</if>
            <if test="tasktype != null">taskType,</if>
            <if test="mileacge != null">mileacge,</if>
            <if test="testhour != null">testHour,</if>
            <if test="location != null">location,</if>
            <if test="systemreset != null">systemReset,</if>
            <if test="navireset != null">naviReset,</if>
            <if test="blackmap != null">blackMap,</if>
            <if test="initializingoccurred != null">initializingOccurred,</if>
            <if test="fallbackscreen != null">fallBackScreen,</if>
            <if test="bussleep != null">bussleep,</if>
            <if test="plannedticket != null">plannedTicket,</if>
            <if test="comment != null">comment,</if>
            <if test="operationtype != null">operationType,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="localhostUserId != null">#{localhostUserId},</if>
            <if test="operUserId != null">#{operUserId},</if>
            <if test="dataUid != null">#{dataUid},</if>
            <if test="dataType != null">#{dataType},</if>
            <if test="operationType != null">#{operationType},</if>
            <if test="operTime != null">#{operTime},</if>
            <if test="status != null">#{status},</if>
            <if test="operIp != null">#{operIp},</if>
            <if test="operLocation != null">#{operLocation},</if>
            <if test="errorMsg != null">#{errorMsg},</if>
            <if test="functiongrouptype != null">#{functiongrouptype},</if>
            <if test="tasktype != null">#{tasktype},</if>
            <if test="mileacge != null">#{mileacge},</if>
            <if test="testhour != null">#{testhour},</if>
            <if test="location != null">#{location},</if>
            <if test="systemreset != null">#{systemreset},</if>
            <if test="navireset != null">#{navireset},</if>
            <if test="blackmap != null">#{blackmap},</if>
            <if test="initializingoccurred != null">#{initializingoccurred},</if>
            <if test="fallbackscreen != null">#{fallbackscreen},</if>
            <if test="bussleep != null">#{bussleep},</if>
            <if test="plannedticket != null">#{plannedticket},</if>
            <if test="comment != null">#{comment},</if>
            <if test="operationtype != null">#{operationtype},</if>
         </trim>
    </insert>

    <update id="updateTDesktopRecord" parameterType="TDesktopRecord">
        update t_desktop_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="localhostUserId != null">localhost_user_id = #{localhostUserId},</if>
            <if test="operUserId != null">oper_user_id = #{operUserId},</if>
            <if test="dataUid != null">data_uid = #{dataUid},</if>
            <if test="dataType != null">data_type = #{dataType},</if>
            <if test="operationType != null">operation_type = #{operationType},</if>
            <if test="operTime != null">oper_time = #{operTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="operIp != null">oper_ip = #{operIp},</if>
            <if test="operLocation != null">oper_location = #{operLocation},</if>
            <if test="errorMsg != null">error_msg = #{errorMsg},</if>
            <if test="functiongrouptype != null">functionGroupType = #{functiongrouptype},</if>
            <if test="tasktype != null">taskType = #{tasktype},</if>
            <if test="mileacge != null">mileacge = #{mileacge},</if>
            <if test="testhour != null">testHour = #{testhour},</if>
            <if test="location != null">location = #{location},</if>
            <if test="systemreset != null">systemReset = #{systemreset},</if>
            <if test="navireset != null">naviReset = #{navireset},</if>
            <if test="blackmap != null">blackMap = #{blackmap},</if>
            <if test="initializingoccurred != null">initializingOccurred = #{initializingoccurred},</if>
            <if test="fallbackscreen != null">fallBackScreen = #{fallbackscreen},</if>
            <if test="bussleep != null">bussleep = #{bussleep},</if>
            <if test="plannedticket != null">plannedTicket = #{plannedticket},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="operationtype != null">operationType = #{operationtype},</if>
        </trim>
        where uid = #{uid}
    </update>

    <delete id="deleteTDesktopRecordByUid" parameterType="Long">
        delete from t_desktop_record where uid = #{uid}
    </delete>

    <delete id="deleteTDesktopRecordByUids" parameterType="String">
        delete from t_desktop_record where uid in 
        <foreach item="uid" collection="array" open="(" separator="," close=")">
            #{uid}
        </foreach>
    </delete>

    <select id="selectListBySingleOrderDict" parameterType="com.ruoyi.system.domain.param.RecordListParam" resultMap="TDesktopRecordResult">
        select  tdc.uid,tdc.localhost_user_id,tdc.data_uid,tdc.oper_time,tdc.status,tdc.function_group_type,tdc.task_type,tdc.mileacge,
                tdc.test_hour,tdc.location,tdc.system_reset,tdc.navi_reset,tdc.black_map,tdc.initializing_occurred,tdc.fall_back_screen,tdc.bussleep,tdc.planned_ticket
        from t_desktop_record tdc
        left join t_carline_info tci on tci.carline_info_uid = tdc.data_uid
        left join t_cluster tc on tci.cluster_uid = tc.uid
        left join t_carline tcl on tcl.uid = tc.carline_uid
        left join sys_dict_data tsdd on (tsdd.dict_value = ${dictTypeTable}.${dictTypeUnderLine} and tsdd.dict_type = #{dictTypeHump})
        where 1 = 1
        <if test="testDate != null  and testDate != ''">
            and tc.oper_time = #{testDate}
        </if>
        <if test="tester != null  and tester != ''">
            and tc.oper_user_name = #{tester}
        </if>
        <if test="functionGroupType != null  and functionGroupType != ''">
            and tc.function_group_type = #{functionGroupType}
        </if>
        <if test="singleOrderByASC">
            order by tsdd.dict_label asc
        </if>
        <if test="!singleOrderByASC">
            order by tsdd.dict_label desc
        </if>
    </select>



    <select id="selectListBySingleOrder" parameterType="com.ruoyi.system.domain.param.RecordListParam" resultMap="TDesktopRecordResult">
        select  tdc.uid,tdc.localhost_user_id,tdc.data_uid,tdc.oper_time,tdc.status,tdc.function_group_type,tdc.task_type,tdc.mileacge,
        tdc.test_hour,tdc.location,tdc.system_reset,tdc.navi_reset,tdc.black_map,tdc.initializing_occurred,tdc.fall_back_screen,tdc.bussleep,tdc.planned_ticket        from t_desktop_record tdc
        left join t_carline_info tci on tci.carline_info_uid = tdc.data_uid
        left join t_cluster tc on tci.cluster_uid = tc.uid
        left join t_carline tcl on tcl.uid = tc.carline_uid
        left join sys_dict_data tsdd on (tsdd.dict_value = tci.${dictTypeUnderLine} and tsdd.dict_type = #{dictTypeHump})
        where 1= 1
        <if test="testDate != null  and testDate != ''">
            and tc.oper_time = #{testDate}
        </if>
        <if test="tester != null  and tester != ''">
            and tc.oper_user_name = #{tester}
        </if>
        <if test="functionGroupType != null  and functionGroupType != ''">
            and tc.function_group_type = #{functionGroupType}
        </if>
        <if test="singleOrderByASC">
            order by tsdd.dict_label asc
        </if>
        <if test="!singleOrderByASC">
            order by tsdd.dict_label desc
        </if>
    </select>
</mapper>