<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TSysLogininforMapper">
    
    <resultMap type="TSysLogininfor" id="TSysLogininforResult">
        <result property="infoId"    column="info_id"    />
        <result property="userName"    column="user_name"    />
        <result property="ipaddr"    column="ipaddr"    />
        <result property="loginLocation"    column="login_location"    />
        <result property="browser"    column="browser"    />
        <result property="os"    column="os"    />
        <result property="status"    column="status"    />
        <result property="msg"    column="msg"    />
        <result property="loginTime"    column="login_time"    />
    </resultMap>

    <sql id="selectTSysLogininforVo">
        select info_id, user_name, ipaddr, login_location, browser, os, status, msg, login_time from t_sys_logininfor
    </sql>

    <select id="selectTSysLogininforList" parameterType="TSysLogininfor" resultMap="TSysLogininforResult">
        <include refid="selectTSysLogininforVo"/>
        <where>  
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="ipaddr != null  and ipaddr != ''"> and ipaddr = #{ipaddr}</if>
            <if test="loginLocation != null  and loginLocation != ''"> and login_location = #{loginLocation}</if>
            <if test="browser != null  and browser != ''"> and browser = #{browser}</if>
            <if test="os != null  and os != ''"> and os = #{os}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="msg != null  and msg != ''"> and msg = #{msg}</if>
            <if test="loginTime != null "> and login_time = #{loginTime}</if>
        </where>
    </select>
    
    <select id="selectTSysLogininforByInfoId" parameterType="Long" resultMap="TSysLogininforResult">
        <include refid="selectTSysLogininforVo"/>
        where info_id = #{infoId}
    </select>
        
    <insert id="insertTSysLogininfor" parameterType="TSysLogininfor">
        insert into t_sys_logininfor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="infoId != null">info_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="ipaddr != null">ipaddr,</if>
            <if test="loginLocation != null">login_location,</if>
            <if test="browser != null">browser,</if>
            <if test="os != null">os,</if>
            <if test="status != null">status,</if>
            <if test="msg != null">msg,</if>
            <if test="loginTime != null">login_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="infoId != null">#{infoId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="ipaddr != null">#{ipaddr},</if>
            <if test="loginLocation != null">#{loginLocation},</if>
            <if test="browser != null">#{browser},</if>
            <if test="os != null">#{os},</if>
            <if test="status != null">#{status},</if>
            <if test="msg != null">#{msg},</if>
            <if test="loginTime != null">#{loginTime},</if>
         </trim>
    </insert>

    <update id="updateTSysLogininfor" parameterType="TSysLogininfor">
        update t_sys_logininfor
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="ipaddr != null">ipaddr = #{ipaddr},</if>
            <if test="loginLocation != null">login_location = #{loginLocation},</if>
            <if test="browser != null">browser = #{browser},</if>
            <if test="os != null">os = #{os},</if>
            <if test="status != null">status = #{status},</if>
            <if test="msg != null">msg = #{msg},</if>
            <if test="loginTime != null">login_time = #{loginTime},</if>
        </trim>
        where info_id = #{infoId}
    </update>

    <delete id="deleteTSysLogininforByInfoId" parameterType="Long">
        delete from t_sys_logininfor where info_id = #{infoId}
    </delete>

    <delete id="deleteTSysLogininforByInfoIds" parameterType="String">
        delete from t_sys_logininfor where info_id in 
        <foreach item="infoId" collection="array" open="(" separator="," close=")">
            #{infoId}
        </foreach>
    </delete>
</mapper>